{% extends "base.html" %}

{% block head %}
    <title>sign in</title>
{% endblock %}

{% block body %}

  <div class="row justify-content-center ">

        {% if session['fullname'] %}
            <h4 class="m-4"> Hello, {{session['fullname']}}</h4>

            <a href="/handlesession" class="m-4 btn btn-outline-danger btn-lg">Log out</a>
            
        {% else %}
            <h4>Please log in </h4><a href="/signin" class="btn btn-outline-success">Log in</a>
        {% endif %}

    </div>
  

{% endblock %}